configure terminal
no vlan {{ vlan_id }}

no interface vlan {{ vlan_id }}

interface nve1
  no member vni {{ vni_id }}

interface ethernet1/6
 no switchport acc vlan {{ vlan_id }}

router bgp {{ bgp_as }}
evpn
 no vni {{ vni_id }} l2
